{% extends 'base.html.twig' %}

{% block title %}Détail d'un Employé
{% endblock %}

{% block body %}
	<h1>{{ employe }}</h1>
	<p>
		Ville :
		{{ employe.ville }}
		<br>
		Entreprise :
		{{ }}
	</p>
{% endblock %}
